<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= interest.escape("name") %></h3>
    </div>
    <div class="panel-body">
        <%= interest.escape("description") %>
    </div>

    <div class="panel-footer">
        <button class="btn btn-sm follow" data-id="<%= interest.id %>">
        <% if(interested) { %>
            Unfollow
        <% } else { %>
            Follow
        <% } %>
        </button>
    </div>
</div>