<nav class="navbar navbar-default user-nav">
  <div class="container nav-container">
    <div class="navbar-center">
      <ul class="nav navbar-nav navbar-profile">
        <li><a id="first" href="#">Home</a></li>
        <li class="profile-btn"><a href="#/user/1">Profile</a></li>
        <li><a href="#">Likes</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row profile-row black">
  <div class="user-info">
    <div class="data-count">
      <div class="vote-count"></div>
      <h3>Votes</h3>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-12">
    <div class="interests" id="user-interests"></div>
  </div>
</div>