<nav class="navbar navbar-default">
  <div class="container nav-container">
    <div class="navbar-center">
      <ul class="nav navbar-nav navbar-profile">
        <li><a id="first" href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Likes</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="row">
  <div class="col-xs-12">
    <div class="interests" id="user-interests"></div>
  </div>
</div>