<nav class="navbar navbar-default user-nav">
  <div class="container nav-container">
    <div class="navbar-center">
      <ul class="nav navbar-nav navbar-profile">
        <li><a id="first" href="#/interests">Add Interests</a></li>
        <li class="profile-btn"><a href="#/user/1">Profile</a></li>
        <li><a href="#/about">About SU</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row profile-row black">
  <h1><%= user.get('username') %></h1>

  <div class="user-info">
    <div class="data-count">
      <div class="vote-count"></div>
      <h3>Votes</h3>
    </div>
    <div class="data-count">
      <div class="interest-count"></div>
      <h3>Interests</h3>
    </div>

    <div class="data-count">
      <div class="sail-count"></div>
      <h3>Sail Count</h3>
    </div>
  </div>
</div>

<div class="row user-profile-header">
      <% if (user.interests().length === 0) { %>
        <h1>You have no interests! <a href="#/interests">Pick some!</a></h1>
      <% } else { %>
        <h1>We've mapped the treacherous seas of the internet for you.</h1>
        <h2>Here are your interests</h2>
        <button class="sail-btn sail-style-btn">Sail</button>
      <% } %>
</div>

<div class="row">
    <div class="interests" id="user-interests"></div>
</div>