<!-- Modal -->
<div class="modal fade" id="new-website-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Submit a New Site</h4>
            </div>

            <div class="modal-body">
              <form id="new-website">
                <div class="form-group">
                    <label for="website-url">URL</label>
                    <input type="text"
                        class="form-control"
                        name="website[url]"
                        id="website-url"
                        placeholder="Enter URL">
                </div>

                <div class="form-group">
                    <label for="website-interest">Related Interest</label>
                    <input type="text"
                        class="form-control"
                        name="website[interest]"
                        id="website-interest"
                        placeholder="Enter Related Interest">
                </div>

                <button type="button"
                  class="btn btn-default"
                  data-dismiss="modal">
                    Nevermind
                </button>
                <input type="submit"
                  class="btn btn-primary sail-style-btn"
                  data-dismiss="modal"
                  value="Add Site"
                >
              </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var bootstrapped_ints =
JSON.parse($("#current_user_json").html()).interests;

var interests = []
for (int in bootstrapped_ints) {
  interests.push(bootstrapped_ints[int].name);
}

$("#website-interest").autocomplete({source: interests, appendTo: "#new-website"})
</script>