<% action = sign_up ? users_url : session_url %>
<% text = sign_up ? "Sign Up" : "Sign In" %>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h1><%= text %></h1>

        <form action="<%= action %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <div class="form-group">
                <label for="user-username">Username</label>
                <input type="text"
                class="form-control"
                name="user[username]"
                id="user-username"
                placeholder="Enter Username"
                >
            </div>

            <div class="form-group">
                <label for="user-password">Password</label>
                <input type="password"
                class="form-control"
                name="user[password]"
                id="user-password"
                placeholder="Enter Password"
                >
            </div>

            <input type="submit" value="<%= text %>" class="btn btn-primary">
        </form>
    </div>
</div>
