<% action = sign_up ? users_url : session_url %>
<% text = sign_up ? "Sign up with SailUpon." : "Sign in to SailUpon." %>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <h1 class="form-header"><%= text %></h1>
        <div class="col-xs-6 col-xs-offset-2">
        <form action="<%= action %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <div class="form-group">
                <input type="text"
                class="form-control"
                name="user[username]"
                id="user-username"
                placeholder="Enter Username"
                >
            </div>

            <div class="form-group">
                <input type="password"
                class="form-control"
                name="user[password]"
                id="user-password"
                placeholder="Enter Password"
                >
            </div>
            <input type="submit" value="Set Sail..." class=" btn sail-style-btn">
        </form>
        <br><br>
        <button class="btn sail-style-btn sail-style-btn-lg">Sail as a guest</button>
      </div>

    </div>
</div>
