/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*= require jquery.ui.all
*/

@import "bootstrap";
body { background: #EDEDED;}
$navbar-height: 30px;

div.home-image {
    background-image: url('/BFiesta1.jpg');
    background-size: 100%;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

#wrapper { margin-top: 71px; }
.black { background: #2D2D2D; }
.panel, .panel *, .navbar { border-radius: 0; }
.btn-lg { height: 50px;}
.body-header { text-align: center;}

.navbar.top-nav {
    background: -webkit-linear-gradient(#2F2F2F, #292929);
    background: -o-linear-gradient(#2F2F2F, #292929);
    background: -moz-linear-gradient(#2F2F2F, #292929);
    background: linear-gradient(#2F2F2F, #292929);
    padding-right: 10px;
}

.navbar * { color: #D1D2D4;}

.navbar-center {
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -150px;
    width: 228px;

}

.navbar-center * {
    height: 100%;
}

.navbar-center.navbar-flash {
    width: 600px;
    margin-left: -330px;
    z-index: 100;
    background: #EC5A2D;
    text-align: center;
}

.navbar-center.navbar-flash h3 {
    color: white;
    font-weight: 100;
    margin: 0 auto;
    padding-top: 10px;
    width: 600px;
}

.navbar-center.navbar-flash h3 span {
    font-weight: 300;
    color: white;
}

.navbar-section {
    background: #1D1D1D;
    border-left: 1px #4B4B4B solid;
    border-right: 1px #4B4B4B solid;
}

li:hover, li:hover span{
    color: white;
};

.sail-style-btn {
    border: none;
    color: white;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium",sans-serif;
    font-weight: 500;
    font-size: 120%;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 3px;
    padding-top: 5px;
    height: 40px;
    width: 115px;
    background: #EC5A2D;
    margin-top: 5px;
    text-shadow: 0px 1px 1px #833219;
}

.sail-style-btn.sail-style-btn-lg {
    height: 50px;
    width: 100%;
    background: #2CB058;
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    font-size: 25px;

}

.sail-style-btn:hover {
    color: white;
    border: 1px solid #EE7C57;
    background: -webkit-linear-gradient(#FE6B3E, #EC5A2D);
    background: -o-linear-gradient(#FE6B3E, #EC5A2D);
    background: -moz-linear-gradient(#FE6B3E, #EC5A2D);
    background: linear-gradient(#FE6B3E, #EC5A2D);
}

.sail-style-btn:focus {
    outline: none;
};

.sail-style-btn:active {
    background: -webkit-linear-gradient(#ED5A2D, #DB491E);
    background: -o-linear-gradient(#ED5A2D, #DB491E);
    background: -moz-linear-gradient(#ED5A2D, #DB491E);
    background: linear-gradient(#ED5A2D, #DB491E);
    outline: none;
    box-shadow: 0 0 5px 2px #DB491E inset;
};

.website-iframe {
    height: 100%;
    padding: 0;
}

#content {
    position: relative;
    height: 100%;
    margin-top: -20px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.dropdown-interests {
    height: 450px;
    width: 330px;
    border: solid 1px #888888;
    overflow: scroll;
    list-style: none;
    margin: 10px;
    padding: 0;
    color: #444444;

}

.dropdown-interest {
    border: 1px solid #E5E5E5;
    padding: 2px 0;
    color: #444444;
}

.dropdown-interest:hover {
    color: white;
    background: #2D2D2D;
}

.dropdown-interest img {
    width: 50px;
    height: 35px;
}
