/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#stumble-button {
    margin: 0 auto;
}


.panel, .navbar{
    border-radius: 0;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    outline: 1px solid red;
}

.website-iframe {
    height: 100%;
    padding: 0;
}

#content {
    position: relative;
    height: 100%;
    margin-top: -20px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}