/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body { background: #EDEDED;}

#wrapper {
    margin-top: 71px;
}

.black {
    background: #2D2D2D;
}

.panel, .panel *, .navbar {
    border-radius: 0;
}

.navbar {
    background: -webkit-linear-gradient(#2F2F2F, #292929);
    background: -o-linear-gradient(#2F2F2F, #292929);
    background: -moz-linear-gradient(#2F2F2F, #292929);
    background: linear-gradient(#2F2F2F, #292929);
}

.navbar * {
    color: #D1D2D4;
}


.navbar-center {
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -150px;
    width: 228px;
    background: #1D1D1D;
    border-left: 1px #4B4B4B solid;
    border-right: 1px #4B4B4B solid;
}

.navbar-center * {
    height: 100%;
}

#sail {
    color: white;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium",sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 3px;
    padding-top: 5px;
    height: 30px;
    width: 115px;
    background: #EC5A2D;
    margin-top: 5px;
    text-shadow: 0px 1px 1px #833219;
}

#sail:hover {
    border: 1px solid #EE7C57;
    background: -webkit-linear-gradient(#FE6B3E, #EC5A2D);
    background: -o-linear-gradient(#FE6B3E, #EC5A2D);
    background: -moz-linear-gradient(#FE6B3E, #EC5A2D);
    background: linear-gradient(#FE6B3E, #EC5A2D);
}
.thumb > button{
    background: #1D1D1D;
    outline: none;
    border: none;
    width: 55px;

}

.thumb > button:hover {
    background: #1D1D1D;
    outline: none;
    border: none;
};

.website-iframe {
    height: 100%;
    padding: 0;
}

#content {
    position: relative;
    height: 100%;
    margin-top: -20px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.panel {
    padding: 7px;
}
.panel-default > .panel-heading {
    height: 27px;
    background-color: #AB1333;
    color: white;
    padding: 4px;
    padding-left: 7px;
}

.panel-body { padding: 0;}
.panel-body > * {
    color: white;
    width: 100%;
}

.panel-body > .panel-interest-image {
    min-height: 100px;
    margin-top: 3px;
    background-color: #A9A9A9;
}

.panel-body > .panel-interest-description {
    color: #6D6E71;
    background: -webkit-linear-gradient(#FFFFFF, #ECECEC);
    background: -o-linear-gradient(#FFFFFF, #ECECEC);
    background: -moz-linear-gradient(#FFFFFF, #ECECEC);
    background: linear-gradient(#FFFFFF, #ECECEC);
}

.panel-default > .panel-footer {
    height: 40px;
//    background-color: #A9A9A9;
    padding: 5px;

    background: -webkit-linear-gradient(#BBBDBF, #999999);
    background: -o-linear-gradient(#BBBDBF, #999999);
    background: -moz-linear-gradient(#BBBDBF, #999999);
    background: linear-gradient(#BBBDBF, #999999);
}

