// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-header {
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    text-shadow: 0 1px 2px #111;
    color: white;
    font-size: 50px;
    text-align: center;
}

.profile-row {
    position: relative;
    display: none;
    height: 275px;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    text-align: center;
    color: white;
    background-image: url('/logo_boat_gray.png');
    background-repeat: no-repeat;
    background-position: 50% -100%;
}

.profile-row .user-info { font-size: 28px; }

.data-count { position: relative; bottom: -120px; display: inline-block;}
.data-count * {margin: 0 10px;}
.user-nav { margin-bottom: 0px; }

.logo { position: relative; width: 397px; margin: auto;  z-index: 11; }
.logo img {z-index: 10; position: relative; width: 100%; margin: auto;}

.navbar-profile {
    width: 400px;
    margin-left: -84px;
}

.navbar-profile li {
    width: 33%;
}

.navbar-profile a {
    height: 100%;
    font-size: 12px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    border-left: 1px solid #E5E5E5;

}

.navbar-profile #first {
    border: none;
}

.user-profile-header { text-align: center;}