// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-header {
    font-family: "HelveticaNeueLightCondensed", "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-weight: 300;
    text-shadow: 0 1px 2px #111;
    color: white;
    font-size: 50px;
    text-align: center;
}

.profile-row {
    display: none;
    height: 275px;
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    text-align: center;
    color: white;
}

.profile-row .user-info {
    font-size: 28px;
}

.data-count { float: bottom;}

.user-nav { margin-bottom: 0px; }

.logo { position: relative; width: 397px; margin: auto;  z-index: 11; }
.logo img {z-index: 10; position: relative; width: 100%; margin: auto;}