<div class="panel panel-default interest-panel about-panel">
    <div class="panel-heading interest-panel-heading dark-blue %>">
        <h3 class="panel-title">About SailUpon</h3>
    </div>
    <div class="panel-body interest-panel-body">
        <!-- <div class="interest-panel-image dark-blue">
          <img src="">
        </div> -->
        <div class="interest-panel-description">
          <p>SailUpon was created by me, Eric Kenney, as a final project during my time at the App Academy in 2014. SailUpon was built as a clone of the site <a href="http://www.stumbleupon.com" target="_blank">StumbleUpon</a>, using that site as a guideline for functionality and styling. It is built using a Ruby on Rails back-end with a BackboneJS front-end. Once you are logged in, the site acts as a single page using the Backbone framework to update the page's content.</p>
        <p>Feel free to <a href="mailto:ekenney5@gmail.com">email me</a> with any comments or questions about the site (or employment) and check me and the site out on  <a href="http://github.com/KenneyE">GitHub</a>.<p>
        </div>
    </div>

    <div class="panel-footer interst-panel-footer">
       Learn More
    </div>
<!-- </div> -->